POSTGRES_HOST=main-postgres
POSTGRES_PORT=5432
POSTGRES_DB=ssh_reports_hub
POSTGRES_USER=ssh_reports_hub
POSTGRES_PASSWORD=your_postgres_password
JWT_SECRET_KEY=your_jwt_secret_key
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
